@import 'main';

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: $white;
  width: 100%;
  .media-nav{
    padding: 50px 0;
    .nav-item{
      padding: 5px;
      svg{
        fill: $light-blue
      }
      &:hover svg{
        fill: $secondary;
      }
    }
  }
}